{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SmartFridge</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/principale.css' %}">

        {% block extra_css %}
        {% endblock %}

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/npm.js' %}"></script>
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="row" id="topbar">
                    <div class="col-sm-4" id= "heure">
                        <h2>12:00</h2>
                    </div>
                    <div class="col-sm-4" id="titre">
                        <h1><a href="/sf">SmartFridge</a></h1>
                    </div>
                    <div class="col-sm-4" id="temperature">
                        <h2>4°C</h2>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="jumbotron">
                <div class="row" id="navbar">
                    <div class="col-sm-offset-2 col-sm-2">
                        <a href="{% url 'sf:find_recipe' %}" class="btn btn-primary {% block menu_find_recipe %}{% endblock %}">
                            Find Recipe
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'sf:new' %}">
                            <button type="button" class="btn btn-primary {% block menu_new %}{% endblock %}"> New Product </button>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'sf:is_in_fridge' %}">
                            <button type="button" class="btn btn-primary {% block menu_find_product %}{% endblock %}"> Find Product </button>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'sf:show_list' %}">
                            <button type="button" class="btn btn-primary {% block menu_show %}{% endblock %}"> Show List </button>
                        </a>
                    </div>
                </div>

                <div class="row" id="navbar">
                    <div class="col-sm-2 text-center" id="navarrow">
                        <a href="{% block menu_prev %}{% endblock %}">
                            <span class="glyphicon glyphicon-circle-arrow-left"></span>
                        </a>
                    </div>
                    <div class="col-sm-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="col-sm-2 text-center" id="navarrow">
                        <a href="{% block menu_next %}{% endblock %}">
                            <span class="glyphicon glyphicon-circle-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
