{% extends 'sf/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Debug</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <ul>
            <li>SFP8_MASK_ORDER = 0b11000000</li>
            <li>SFP8_MASK_DATA = 0b00111111</li>
        </ul>
        <ul>
            <li>SFP8_ORDER_GOTO = 0b00000000</li>
            <li>SFP8_ORDER_PUSH = 0b01000000</li>
            <li>SFP8_ORDER_COOLING = 0b10000000</li>
            <li>SFP8_ORDER_SENSOR = 0b11000000</li>
        </ul>
        <ul>
            <li>SFP8_TRUE = 0b00000001</li>
            <li>SFP8_FALSE = 0b00000000</li>
            <li>SFP8_SUCCESS = 0b11111111</li>
            <li>SFP8_INVALID = 0b00000000</li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul>
            <li>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input name="order" type="hidden" value="01000000" />
                    <button type="submit" class="button-admin tiny">push 0</button>
                </form>
            </li>
            <li>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input name="order" type="hidden" value="01000001" />
                    <button type="submit" class="button-admin tiny">push 1</button>
                </form>
            </li>
            <li>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input name="order" type="hidden" value="01000010" />
                    <button type="submit" class="button-admin tiny">push 2</button>
                </form>
            </li>
            <li>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input name="order" type="hidden" value="01000011" />
                    <button type="submit" class="button-admin tiny">push 3</button>
                </form>
            </li>
            <li>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input name="order" type="hidden" value="01000100" />
                    <button type="submit" class="button-admin tiny">push 4</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul>
            <li>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input name="order" type="hidden" value="00000000" />
                    <button type="submit" class="button-admin tiny">goto 0</button>
                </form>
            </li>
            <li>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input name="order" type="hidden" value="00000001" />
                    <button type="submit" class="button-admin tiny">goto 1</button>
                </form>
            </li>
            <li>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input name="order" type="hidden" value="00000010" />
                    <button type="submit" class="button-admin tiny">goto 2</button>
                </form>
            </li>
            <li>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input name="order" type="hidden" value="00000011" />
                    <button type="submit" class="button-admin tiny">goto 3</button>
                </form>
            </li>
            <li>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input name="order" type="hidden" value="00000100" />
                    <button type="submit" class="button-admin tiny">goto 4</button>
                </form>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 form-group">
        <form method="POST" action=".">
            {% csrf_token %}

            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        Result : {{ ret }}
    </div>
</div>
{% endblock %}
