{% extends 'sf/base.html' %}

{% block menu_find_product %}
active
{% endblock %}

{% block menu_prev %}
{% url 'sf:show_list' %}
{% endblock %}

{% block menu_next %}
{% url 'sf:find_recipe' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Que cherchez-vous ?</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {% if form %}
            <form role="form" method="post" action="{% url 'sf:find_product' %}">
                {% csrf_token %}

                {% if error %}
                    <small class="error">{{ error }}</small>
                {% endif %}

                {% for field in form %}
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                {% for error in field.errors %}
                                    <small class="error">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <button type="submit" class="btn btn-primary">Chercher</button>
                    </div>
                </div>
            </form>
        {% else %}
            <p>
                <ul>
                    <li>Nom : {{ product.name }}</li>
                    <li>Date de peremption : {{ product.expire }}</li>
                    <li>Quantité : {{ product.nb }}</li>
                    <li>Calories : {{ product.calorie }}</li>
                    <li>Position (osef) : {{ product.position }}</li>
                </ul>
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
