{% extends 'sf/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Validez la sortie du frigo ?</h2>
      </div>
    </div>

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
          <a href=""><button type="button" class="btn btn-primary ">Valider</button></a>
          <a href="{% url 'sf:find_product' %}"><button type="button" class="btn btn-primary ">Retour</button></a>
        </div>

        <div class="col-sm-4"></div>

      </div>

    </form>
  </div>
{% endblock %}
