{% extends 'sf/base.html' %}

{% block content %}
<div class="container">
<div class="jumbotron">

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <a href="#"><button type="button" class="btn btn-primary">Accueil</button></a>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <button type="button" class="btn btn-primary">Find Recipe</button>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row">
    <div class="col-sm-4 text-center">
      <a href="get.html"> <span class="glyphicon glyphicon-circle-arrow-left"></span> </a>
    </div>
    <div class="col-sm-4 text-center">
      <a href="get.html"><button type="button" class="btn btn-primary">Get Product</button></a>
    </div>
    <div class="col-sm-4 text-center">
      <a href="is_in_fridge.html"> <span class="glyphicon glyphicon-circle-arrow-right"></span> </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <button type="button" class="btn btn-primary">Find Product</button>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <button type="button" class="btn btn-primary">New Product</button>
    </div>
    <div class="col-sm-4"></div>
  </div>

</div>
</div>
{% endblock %}
