<!DOCTYPE html>
<html lang="en">
<head>
    <title>In the fridge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/Users/florian/Documents/SmartFridge/assets/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/Users/florian/Documents/SmartFridge/assets/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/Users/florian/Documents/SmartFridge/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/Users/florian/Documents/SmartFridge/assets/css/bootstrap.min.css">

  <script src="/Users/florian/Documents/SmartFridge/assets/js/bootstrap.js"></script>
  <script src="/Users/florian/Documents/SmartFridge/assets/js/bootstrap.min.js"></script>
  <script src="/Users/florian/Documents/SmartFridge/assets/js/npm.js"></script>
</head>

<body>

  <div class="row">
    <div class="col-sm-12">
      <h2>Que cherchez-vous ?</h2>
    </div>
  </div>

  <form role="form">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="produit">Produit:</label>
          <input type="produit" class="form-control" id="produit" placeholder="Entrer le nom du produit">
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
      
    <div class="row">

      <div class="col-sm-4">
        <a href="index.html"> <span class="glyphicon glyphicon-circle-arrow-left"></span> </a>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="emplcmt">Emplacement:</label>
          <input type="emplacement" class="form-control" id="emplcmt" placeholder="Entrer l'emplacement du produit, s'il est connu">
        </div>
      </div>

      <div class="col-sm-4">
        <a href="new.html"> <span class="glyphicon glyphicon-circle-arrow-right"></span> </a>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary">Chercher</button>
      </div>
      <div class="col-sm-4"></div>
    </div>

  </form>

</body>
</html>