{% extends 'sf/base.html' %}

{% block menu_find_product %}
active
{% endblock %}

{% block menu_prev %}
{% url 'sf:new' %}
{% endblock %}

{% block menu_next %}
{% url 'sf:show_list' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Que cherchez-vous ?</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form role="form">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                        <label for="produit">Produit:</label>
                        <input type="produit" class="form-control" id="produit" placeholder="Entrer le nom du produit">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                        <label for="emplcmt">Emplacement:</label>
                        <input type="emplacement" class="form-control" id="emplcmt" placeholder="Entrer l'emplacement du produit, s'il est connu">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                        <label><input type="checkbox"> Recupérer le produit </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <button type="button" class="btn btn-primary">Chercher</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
