{% extends 'sf/base.html' %}

{% block content %}
<div class="row" style="padding: 10% 0 0 0;">
    <div class="col-sm-12 text-center">
      <h2>Entrez les informations du nouveau produit</h2>
    </div>
</div>

<form role="form">
	<div class="row" >
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class="form-group">
			    <label for="name">Nom:</label>
  			  <input type="text" class="form-control" id="name">
  			</div>
  		</div>
  		<div class="col-sm-4"></div>
		</div>

		<div class="row" >
			<div class="col-sm-4 text-center">
			<a href="http://127.0.0.1:8000/sf/is_in_fridge/">
				<span class="glyphicon glyphicon-circle-arrow-left"></span>
			</a>
		</div>
  		<div class="col-sm-4">
  			<div class="form-group">
    			<label for="number">Nombre:</label>
    			<input type="number" class="form-control" id="number">
  			</div>
  		</div>
  		<div class="col-sm-4 text-center">
  			<a href="http://127.0.0.1:8000/sf/find_recipe/"> 
  				<span class="glyphicon glyphicon-circle-arrow-right"></span>
  			</a>
  		</div>
		</div>

  	<div class="row" >
  		<div class="col-sm-4"></div>
  		<div class="col-sm-4">
  			<div class="form-group">
			    <label for="peremption">Date de péremption:</label>
  			  <input type="date" class="form-control" id="peremption">
  			</div>
  		</div>
  		<div class="col-sm-4"></div>
  	</div>

</form>

{% endblock %}
