{% extends 'sf/base.html' %}

{% block menu_new %}
active
{% endblock %}

{% block menu_prev %}
{% url 'sf:find_recipe' %}
{% endblock %}

{% block menu_next %}
{% url 'sf:find_product' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Entrez les informations du nouveau produit</h2>
    </div>
</div>

<div class="row" >
    <div class="col-sm-12">
        <form role="form">
            <div class="row" >
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                        <label for="name">Nom :</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                        <label for="number">Nombre :</label>
                        <input type="number" class="form-control" id="number">
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                        <label for="peremption">Date de péremption :</label>
                        <input type="date" class="form-control" id="peremption">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <button type="button" class="btn btn-primary">Valider l'ajout</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
