{% extends 'sf/base.html' %}

{% block menu_new %}
active
{% endblock %}

{% block menu_prev %}
{% url 'sf:find_recipe' %}
{% endblock %}

{% block menu_next %}
{% url 'sf:show_list' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Entrez les informations du nouveau produit</h2>
    </div>
</div>

<div class="row" >
    <div role="form" class="col-sm-12">
        <form role="form" method="post" action="{% url 'sf:new' %}">
            {% csrf_token %}

            {% if error %}
                <small class="error">{{ error }}</small>
            {% endif %}

            {% for field in form %}
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <small class="error">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <button type="submit" class="btn btn-primary">Valider l'ajout</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
