{% extends 'sf/base.html' %}

{% load staticfiles %}

{% block menu_show %}
active
{% endblock %}

{% block menu_prev %}
{% url 'sf:new' %}
{% endblock %}

{% block menu_next %}
{% url 'sf:find_product' %}
{% endblock %}

{% block content %}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Aliment</th>
                <th>Quantité</th>
                <th>Date de peremption</th>
                <th>Calories</th>
                <th>Récuperer ?</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.nb }}</td>
                    <td>{{ p.expire }}</td>
                    <td>{{ p.calorie }}</td>
                    <td>
                        <form method="POST" action="/sf/find_product/">
                            {% csrf_token %}
                            <input name="name" type="hidden" value="{{ p.name }}" />
                            <input name="retrieve" type="hidden" value="1" />
                            <button type="submit" class="button-admin tiny">Get</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
