{% extends 'sf/base.html' %}

{% load staticfiles %}

{% block menu_show %}
active
{% endblock %}

{% block menu_prev %}
{% url 'sf:find_product' %}
{% endblock %}

{% block menu_next %}
{% url 'sf:find_recipe' %}
{% endblock %}

{% block content %}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Aliment</th>
                <th>Quantité</th>
                <th>Localisation</th>
                <th>Date d'ajout</th>
                <th>Date de peremption</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.nb }}</td>
                    <td>{{ p.position }}</td>
                    <td>xx</td>
                    <td>{{ p.expire }}</td>
                    <td>{{ p.calorie }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
