{% extends 'sf/base.html' %}

{% load staticfiles %}

{% block menu_show %}
active
{% endblock %}

{% block menu_prev %}
{% url 'sf:is_in_fridge' %}
{% endblock %}

{% block menu_next %}
{% url 'sf:find_recipe' %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/show_list.css' %}">
{% endblock %}

{% block content %}

<div>
	<table >
		<tr>
			<th>Aliment</th>
			<th>Quantité</th>
			<th>Localisation</th>
			<th>Date d'ajout</th>
			<th>Date de peremption</th>
			<th>Calories</th>
		</tr>

		<tr>
			<td>Tomate</td>
			<td>5</td>
			<td>Bac 2</td>
			<td>16/01/15</td>
			<td>30/01/15</td>
			<td>20</td>
		</tr>

		<tr>
			<td>Bière</td>
			<td>10</td>
			<td>Bac 8</td>
			<td>16/01/15</td>
			<td>14/02/15</td>
			<td>43</td>
		</tr>

	</table>

</div>

{% endblock %}
