body
{
    background: rgb(200, 200, 200);
    color: rgb(0, 120, 200);
}

.jumbotron
{
    padding: 3em;
}

header #topbar
{
    border-bottom: solid 0.2em rgb(0, 120, 200);
    margin-bottom: 1em;
}

header #topbar #heure
{
    text-align: left;
}

header #topbar #titre
{
    text-align: center;
}

header #topbar #temperature
{
    text-align: right;
}

#navbar
{
    margin-bottom: 2em;
}

#navarrow
{
   margin-top: 3em;
}

.home_text
{
    font-family: chalkduster;
    font-size: 300%;
}
