html{
	background-color: rgb(200,200,200);
}

.barre{
	height:60px;
	background: white;
	color: black;
	padding: 0px;
	margin: 0px;
	border: solid rgb(0,120,200) 2px;
	border-radius: 5px;
	text-align: center;
}

.barre div{
display: inline-block;
vertical-align: middle;

}

#temperature{
	float: left;
	color: rgb(0,120,200);
	margin-left: 20px;
	font-size: 2em;
}

#heure{
	float: right;
	color: rgb(0,120,200);
	margin-right: 20px;
	font-size: 2em;
}

#titre{
	display: inline-block;
	font-size: 3em;
}

table{
border-collapse: separate;
	border-spacing: 0px;
	border-radius: 14px;
	border:solid 1px;
margin: auto;
margin-top: 50px;
}

th{
	background-color: rgb(0,120,200);
	border: 1px solid black;
	padding: 5px;
}

td{
	background-color: white; 
	border: 1px solid black;
	padding: 5px;
}

th:first-child{
	border-top-left-radius: 14px;
}

th:last-child{
	border-top-right-radius: 14px;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 14px;
}

tr:last-child td:last-child{
	border-bottom-right-radius: 14px;
}